@model APIViewWeb.Models.CommentTagEmailModel
@{
	Layout = "/EmailTemplates/_EmailLayout.cshtml";
	ViewData["EmailTitle"] = "You Were Mentioned";
}

<p class="section">
	<a href="@Model.PosterProfileUrl">@Model.PosterUserName</a> mentioned you in
	<a href="@Model.ReviewUrl"><strong>@Model.ReviewName</strong></a>.
</p>

<div class="panel">
	<div><strong>Comment:</strong></div>
	<div>@Model.CommentBodyHtml</div>
</div>
