@model APIViewWeb.Models.ReviewerAssignedEmailModel

<a href='@Model.RequesterProfileUrl'>@Model.RequesterUserName</a> requested you to review <a href='@Model.ReviewUrl'><b>@Model.ReviewName</b></a><br>You can review all your pending APIViews <a href='@Model.RequestedReviewsUrl'><b>here</b></a>
