@page
@model APIViewWebApp.Pages.Assemblies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DLL[0].DisplayString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DLL[0].DllPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DLL) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DllPath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
