@using ApiView
@using APIView.DIff
@model APIViewWeb.Models.CodeLineModel
@{
    bool isRemoved = Model.Kind == DiffLineKind.Removed;
    string lineClass = Model.Kind switch
    {
        DiffLineKind.Removed => "code-removed",
        DiffLineKind.Added => "code-added",
        _ => ""
    };
}

<tr class="code-line @lineClass" data-line-id="@(isRemoved ? string.Empty : Model.CodeLine.ElementId)">
    <td class="line-number @lineClass">@Model.LineNumber</td>
    <td class="line-comment-button-cell">
        @if (!isRemoved && Model.CodeLine.ElementId != null)
        {
            <a class="line-comment-button">+</a>
        }
    </td>
    <td class="code @lineClass">
        @if (Model.Kind == DiffLineKind.Removed)
        {
            <span class="code-inner">&nbsp;-&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
        else if(Model.Kind == DiffLineKind.Added)
        {
            <span class="code-inner">&nbsp;+&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
        else 
        {
            <span class="code-inner">&nbsp;&nbsp;&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
    </td>
</tr>
@if (Model.Diagnostics.Any())
{
    var errorDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Default || d.Level == APIView.CodeDiagnosticLevel.Error);
    var warningDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Warning);
    var infoDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Info);
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@errorDiags" />
    </tr>
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@warningDiags" />
    </tr>
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@infoDiags" />
    </tr>
}

@if (Model.CommentThread != null)
{
    <partial name="_CommentThreadPartial" model="@Model.CommentThread" />
}