@using ApiView
@using APIView.DIff
@model APIViewWeb.Models.CodeLineModel
@{
    bool isRemoved = Model.Kind == DiffLineKind.Removed;
    string lineClass = Model.Kind switch
    {
        DiffLineKind.Removed => "code-removed",
        DiffLineKind.Added => "code-added",
        _ => ""
    };
    string documentationClass = Model.CodeLine.IsDocumentationLine? "documentation": "";
}

<tr class="code-line @documentationClass" data-line-id="@(isRemoved ? string.Empty : Model.CodeLine.ElementId)">
    <td class="line-comment-button-cell">
        @if (!isRemoved && Model.CodeLine.ElementId != null)
        {
            <a class="line-comment-button">+</a>
        }
    </td>
    <td class="code @lineClass"><span class="code-inner">@Html.Raw(Model.CodeLine.DisplayString)</span></td>
</tr>
@if (Model.Diagnostics.Any())
{
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <td colspan="2">
            @foreach (var lineDiagnostic in Model.Diagnostics)
            {
                string diagClass = lineDiagnostic.Level switch
                {
                    APIView.CodeDiagnosticLevel.Warning => "code-diagnostics-warn",
                    APIView.CodeDiagnosticLevel.Info => "code-diagnostics-info",
                    _ => "code-diagnostics-error"
                };
                <p class="@diagClass">
                    @if (lineDiagnostic.Text.StartsWith("DO"))
                    {
                        @:✅ <b>DO</b> @lineDiagnostic.Text.Substring(2)
                    }
                    else
                    {
                        @lineDiagnostic.Text
                    }

                    @if (!string.IsNullOrEmpty(lineDiagnostic.HelpLinkUri))
                    {
                        <a href="@lineDiagnostic.HelpLinkUri">Details</a>
                    }
                </p>
            }
        </td>
    </tr>
}

@if (Model.CommentThread != null)
{
    <partial name="_CommentThreadPartial" model="@Model.CommentThread" />
}