@using ApiView
@using APIView.DIff
@model APIViewWeb.Models.CodeLineModel
@{
    bool isRemoved = Model.Kind == DiffLineKind.Removed;
    string lineClass = Model.Kind switch
    {
        DiffLineKind.Removed => "code-removed",
        DiffLineKind.Added => "code-added",
        _ => ""
    };

    string foldableClass = Model.CodeLine.LineClass.ToLower().Replace(".","-");
}

<tr class="code-line @lineClass @foldableClass" data-line-id="@(isRemoved ? string.Empty : Model.CodeLine.ElementId)">
    <td class="line-details">
        <table>
            <tr>
                <td class="line-number @lineClass"><span>@Model.LineNumber</span></td>
                <td class="line-details-button-cell">
                    @if (!isRemoved && Model.CodeLine.ElementId != null)
                    {
                        <a class="line-comment-button">+</a>
                    }
                    else
                    {
                       <a class="line-comment-button" style="visibility: hidden;">+</a> // Added for visual consistency
                    }
                </td>
                <td class="line-details-button-cell">
                    @if (foldableClass.EndsWith("-parent"))
                    {
                        <span><i class="fa-solid fa-angle-right"></i></span>
                    }
                </td>
            </tr>
        </table>
    </td>
    <td class="code @lineClass">
        @{
            string collapseMenu = foldableClass.EndsWith("-parent") ? "<i class='fa-solid fa-ellipsis ml-2 mt-2'></i>" : "";
        }
        @if (Model.Kind == DiffLineKind.Removed)
        {
            <span class="code-inner">&nbsp;-&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
        else if(Model.Kind == DiffLineKind.Added)
        {
            <span class="code-inner">&nbsp;+&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
        else 
        {
            <span class="code-inner">&nbsp;&nbsp;&nbsp;@Html.Raw(Model.CodeLine.DisplayString)</span>
        }
    </td>
</tr>
@if (Model.Diagnostics.Any())
{
    var errorDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Default || d.Level == APIView.CodeDiagnosticLevel.Error);
    var warningDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Warning);
    var infoDiags = Model.Diagnostics.Where(d => d.Level == APIView.CodeDiagnosticLevel.Info);
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@errorDiags" />
    </tr>
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@warningDiags" />
    </tr>
    <tr class="code-diagnostics" data-line-id="@Model.CodeLine.ElementId">
        <partial name="_DiagnosticsPartial" model="@infoDiags" />
    </tr>
}

@if (Model.CommentThread != null)
{
    <partial name="_CommentThreadPartial" model="@Model.CommentThread" />
}