@page
@model APIViewWeb.Pages.Assemblies.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Uploader</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assembly in Model.Assemblies)
        {
            <tr>
                <td>
                    <a asp-page="./Review" asp-route-id="@assembly.Id">@assembly.Name</a>
                </td>
                <td>
                    @{string url = "https://github.com/" + assembly.Author;}
                    <a href="@url">@assembly.Author</a>
                </td>
                @{var timeDifference = DateTime.Now.Subtract(assembly.TimeStamp.ToLocalTime());}
                @{int secondsAgo = (int)timeDifference.TotalSeconds;}
                @{int minutesAgo = (int)timeDifference.TotalMinutes;}
                @{int hoursAgo = (int)(minutesAgo / 60);}
                @{int daysAgo = (int)timeDifference.TotalDays;}
                @{int weeksAgo = (int)(daysAgo / 7);}
                @if (minutesAgo == 0)
                {
                    <td>@Html.Raw(secondsAgo) seconds ago</td>
                } else if (hoursAgo == 0)
                {
                    <td>@Html.Raw(minutesAgo) minutes ago</td>
                } else if (daysAgo == 0)
                {
                    <td>@Html.Raw(hoursAgo) hours ago</td>
                } else if (weeksAgo == 0)
                {
                    <td>@Html.Raw(daysAgo) days ago</td>
                } else
                {
                    <td>@Html.Raw(weeksAgo) weeks ago</td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-page="./Delete" asp-route-id="@assembly.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>


