@page
@model APIViewWeb.Pages.Assemblies.IndexPageModel
@using APIViewWeb
@using System
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Reviews";
}
<nav class="navbar-light shadow-sm bg-light sticky-top">
    <div class="container-fluid">
        <div class="row mx-5 d-flex flex-row align-items-center">
            <div class="col px-0 py-2 d-flex flex-wrap flex-sm-nowrap flex-row align-items-center">
                <div class="input-group" style="min-width: 200px;">
                    <input type="search" class="form-control" id="reviews-table-search-box" placeholder="Search.."/>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form asp-page-handler="Upload" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Review</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="custom-file">
                                <input asp-for="Upload.Files" type="file" class="custom-file-input">
                                <label asp-for="Upload.Files" class="custom-file-label">Select file to include in API review</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Upload.RunAnalysis" checked>
                                <label class="form-check-label">
                                    Run static analysis
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Label" class="form-control" type="text" placeholder="Enter an optional review label">
                        </div>
                        <div class="form-group">
                            <label>What to upload:</label>

                            <ul class="nav nav-pills nav-fill mb-3">
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#c-help">C</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#csharp-help">C#</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cpp-help">C++</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#go-help">Go</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#java-help">Java</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#js-help">JS/TS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#python-help">Python</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#protocol-help">Protocol</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#swift-help">Swift</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content border rounded p-3">
                                <div class="tab-pane active" id="csharp-help">
                                    <ol>
                                        <li>
                                            Run
                                            <code>dotnet pack</code>
                                        </li>
                                        Upload the resulting .nupkg file.
                                    </ol>
                                </div>
                                <div class="tab-pane" id="java-help">Run a <code>mvn package</code> build on your project, which will generate a number of build artifacts in the <code>/target</code> directory. In there, find the file ending <code>sources.jar</code>, and select it.</div>
                                <div class="tab-pane" id="c-help">
                                    <ol>
                                        <li>
                                            Install clang 10 or later.
                                        </li>
                                        <li>
                                            Run
                                            <code>clang [inputs like az_*.h] -Xclang -ast-dump=json -I ..\..\..\core\core\inc -I "c:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\VC\Tools\MSVC\14.26.28801\include\" > az_core.ast</code>
                                        </li>
                                        <li>
                                            Archive the file <code>Compress-Archive az_core.ast -DestinationPath az_core.zip</code>
                                        </li>
                                        <li>
                                            Upload the resulting archive.
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="python-help">
                                    <ol>
                                        <li>
                                            Generate wheel for the package.
                                            <code>python setup.py bdist_wheel -d [dest_folder]</code>
                                        </li>
                                        <li>
                                            Upload generated whl file
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="js-help">
                                    <ol>
                                        <li>
                                            Use <code>api-extractor</code> to generate a <a href="https://api-extractor.com/pages/setup/generating_docs/">docModel file</a>
                                        </li>
                                        <li>
                                            Upload generated api.json file
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="cpp-help">
                                    <ol>
                                        <li>
                                            Install clang 10 or later. Your environment may require additional include directories.
                                        </li>
                                        <li>
                                            Run
                                            <code>clang++ [input like .\sdk\storage\azure-storage-files-datalake\inc\azure\storage\files\datalake\datalake.hpp] -I .\sdk\storage\azure-storage-files-datalake\inc -I .\sdk\core\azure-core\inc -Xclang  -ast-dump -I .\sdk\storage\azure-storage-common\inc  -I .\sdk\storage\azure-storage-blobs\inc > Azure_Storage_Files_Datalake.ast</code>
                                        </li>
                                        <li>
                                            Archive the file <code>Compress-Archive Azure_Storage_Files_Datalake.ast -DestinationPath Azure_Storage_Files_Datalake.zip</code>
                                        </li>
                                        <li>
                                            Rename the file <code>Rename-Item Azure_Storage_Files_Datalake.zip -NewName  Azure_Storage_Files_Datalake.cppast</code>
                                        </li>
                                        <li>
                                            Upload the resulting archive.
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="go-help">
                                    <ol>
                                        <li>
                                            Archive source module directory in which go.mod is present. <code>Compress-Archive ./sdk/azcore -DestinationPath azcore.zip</code>
                                        </li>
                                        <li>
                                            Rename the file <code>Rename-Item azcore.zip -NewName  azcore.gosource</code>
                                        </li>
                                        <li>
                                            Upload the resulting archive.
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="protocol-help">
                                    <ol>
                                        <li>
                                            Upload generated yml file from autorest 
                                        </li>
                                    </ol>
                                </div>
                                <div class="tab-pane" id="swift-help">
                                    <ol>
                                        <li>
                                            Generate JSON file for the source by running Swift APIView parser in XCode.
                                            More information is available here on <a href="https://github.com/Azure/azure-sdk-tools/blob/main/src/swift/README.md">Swift API parser</a> 
                                        </li>
                                        <li>
                                            Upload generated JSON
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bottom-right-floating">
        <button type="button" class="btn btn-primary btn-circle btn-circle-xl" data-toggle="modal" data-target="#uploadModel"><small>CREATE</small><br><i class="fas fa-plus"></i><br><small>REVIEW</small></button>
    </div>

    <div class="mx-5 mt-3 row">
        <div class="col-md-2">
            <div class="mt-3 row border-left sticky-top" style="top: 70px;">
                <div class="col" id="reviews-filter-partial">
                    <h4>Filters</h4>
                    <select class="selectpicker show-tick show-menu-arrow p-0 mb-2" multiple title="PackageName" data-size="10" data-live-search="true" data-selected-text-format="static" data-style="btn-light border mr-2" data-width="100%" data-container="body" id="name-filter-bootstraps-select">
                        @foreach (var pkgName in Model.ReviewsProperties.PackageNames)
                        {
                            <option value="@pkgName">@pkgName</option>
                        }
                    </select>
                    <select class="selectpicker show-tick show-menu-arrow p-0 mb-2" multiple data-selected-text-format="static" title="Language" data-style="btn-light border mr2" data-width="100%" data-container="body" id="language-filter-bootstraps-select">
                        <option value="^C$">C</option>
                        <option value="^C#$">C#</option>
                        <option value="^C\+\+$">C++</option>
                        <option value="^Go$">Go</option>
                        <option value="^Java$">Java</option>
                        <option value="^JavaScript$">JavaScript</option>
                        <option value="^Python$">Python</option>
                        <option value="^Protocol$">Protocol</option>
                        <option value="^Swift$">Swift</option>
                        <option value="^Swagger$">Swagger</option>
                        <option value="^Xml$">Xml</option>
                    </select>
                    <select class="selectpicker show-menu-arrow p-0 mb-2" data-live-search="true" title="Author" data-size="10" data-selected-text-format="static" data-style="btn-light border" data-width="100%" data-container="body" id="owner-filter-bootstraps-select">
                        @foreach (var author in Model.ReviewsProperties.Authors)
                        {
                            <option value="@author">@author</option>
                        }
                    </select>
                    <select class="selectpicker show-menu-arrow p-0 mb-2" data-live-search="true" title="Tags" data-size="10" data-selected-text-format="static" data-style="btn-light border" data-width="100%" data-container="body" id="tags-filter-bootstraps-select">
                        @foreach (var serviceName in Model.ReviewsProperties.ServiceNames)
                        {
                            <option value="@serviceName">@serviceName</option>
                        }
                    </select>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="open-filter-check">
                        <label class="form-check-label" for="open-filter-check">
                        Open
                        </label>
                    </div>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="closed-filter-check">
                        <label class="form-check-label" for="closed-filter-check">
                        Closed
                        </label>
                    </div>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="automatic-filter-check">
                        <label class="form-check-label" for="automatic-filter-check">
                        Automatic
                        </label>
                    </div>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="manual-filter-check">
                        <label class="form-check-label" for="manual-filter-check">
                        Manual
                        </label>
                    </div>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="approved-filter-check">
                        <label class="form-check-label" for="approved-filter-check">
                        Approved
                        </label>
                    </div>
                    <div class="form-check border-bottom py-1">
                        <input class="form-check-input" type="checkbox" value="" id="pending-filter-check">
                        <label class="form-check-label" for="pending-filter-check">
                        Pending
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-sm mt-2"><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Reset</button>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <partial name="_ReviewsPartial" model="Model.Assemblies" />
        </div>
    </div>
</div>

