@page
@model APIViewWeb.Pages.Assemblies.IndexPageModel
@using APIViewWeb
@{
    ViewData["Title"] = "Home page";
}
@*<form method="post" asp-page-handler="Migrate">
    <input type="hidden" />
    <input type="submit" value="Migrate" class="btn btn-danger" />
</form>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Uploader</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assembly in Model.Assemblies)
        {
            <tr>
                <td>
                    <a asp-page="./Review" asp-route-id="@assembly.ReviewId">@assembly.Name</a>
                </td>
                <td>
                    <a username="@assembly.Author">@assembly.Author</a>
                </td>
                <td>
                    <span date="@assembly.CreationDate.ToLocalTime()"></span>
                </td>
                @if (assembly.Author == User.GetGitHubLogin())
                {
                    <td>
                        <a asp-page="./Delete" asp-route-id="@assembly.ReviewId">Delete</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>


