@page "{id?}"
@model APIViewWeb.Pages.Assemblies.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<table class="code-window border rounded-1">
    <tbody>
        @foreach (var line in Model.AssemblyModel)
        {
        <tr class="code-line"><td class="code"><span class="code-inner">@Html.Raw(line.DisplayString)</span></td></tr>
        @foreach (var elementId in Model.Comments.Keys)
        {
        @if (elementId == line.ElementId) {
        <tr class="comment-box">
            <td class="comment-cell border-top border-bottom" colspan="4">
                <div class="border comment-holder rounded-1">
                    <div class="comment-thread-contents">
                        @foreach (var comment in Model.Comments[elementId]) 
                        {
                        <div class="review-comment">
                            <div class="unminimized-comment">
                                <h4><strong class="author">Anonymous</strong></h4>
                                <div class="comment-body">
                                    <p>@comment.Comment</p>
                                </div>
                                <form class="comment-delete-button" asp-page-handler="delete" method="post" asp-route-id="@Model.Id">
                                    <input type="hidden" name="commentId" value=@comment.Id>
                                    <button class="btn btn-outline-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                        }
                        <div class="review-thread-reply">
                            <button data-element-id="@line.ElementId" type="button" class="review-thread-reply-button text-muted text-left form-control">Reply...</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
        }
        }
    </tbody>
</table>

<br />
<div id="comment-form-template">
    <div class="comment-form new-thread-comment">
        <form class="new-thread-comment-form comment" method="post" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="Comment.ElementId" class="id-box" />
            <div class="new-comment-content">
                <textarea class="new-thread-comment-text form-control" asp-for="Comment.Comment" rows="3"></textarea>
            </div>
            <button type="submit" name="submit" value="Submit" class="thread-comment-submit btn btn-outline-dark">Add Comment</button>
            <button type="button" name="cancel" value="Cancel" class="comment-cancel-button btn btn-outline-dark">Cancel</button>
        </form>
    </div>
</div>