@page "{id?}"
@model APIViewWeb.Pages.Assemblies.ReviewPageModel
@{
    ViewData["Title"] = "Review";
}

@if (Model.Review.UpdateAvailable)
{
    <div class="alert alert-warning" role="alert">
        <form asp-page-handler="RefreshModel" class=".form-inline" method="post" asp-route-id="@Model.Review.ReviewId">
            Your code review uses older format and can be updated
            <button type="submit" class="btn btn-link">Update model</button>
        </form>
    </div>
}


<div class="row">
    <div class="col-2 namespace-view">

        @if (Model.CodeFile != null)
        {
            <partial name="Shared/Navigation" model=" Model.CodeFile.Navigation"/>
        }
     </div>

    <div class="col-10">
        <table class="code-window border rounded-1">
            <tbody>
            @foreach (var line in Model.Lines) {
                <tr class="code-line">
                    <td class="line-comment-button-cell">
                        @if (line.ElementId != null) {
                            <button data-element-id="@line.ElementId" class="btn-link line-comment-button" type="button" style="text-decoration:none;">+</button>
                        }
                    </td>
                    <td class="code"><span class="code-inner">@Html.Raw(line.DisplayString)</span></td>
                </tr>
                <tr>
                @if (line.Diagnostics.Any())
                {
                    <td></td>
                    <td class="code-diagnostics">
                        @foreach (var lineDiagnostic in line.Diagnostics)
                        {
                        <p>
                            @if (lineDiagnostic.Text.StartsWith("DO"))
                            {
                                @:✅ <b>DO</b> @lineDiagnostic.Text.Substring(2)
                            }
                            else
                            {
                                @lineDiagnostic.Text
                            }
                            <a href="@lineDiagnostic.HelpLinkUri">Details</a>
                        </p>
                        }
                    </td>
                }
                </tr>
                @foreach (var elementId in Model.Comments.Keys) {
                    @if (elementId == line.ElementId) {
                        <partial name="_CommentThreadPartial" model="@(new Models.CommentThreadModel() { AssemblyId = Model.Review.ReviewId, Comments = Model.Comments[elementId], LineId = elementId })" />
                    }
                }
            }
            </tbody>

        </table>
    </div>
</div>
<div id="comment-form-template">
    <div class="comment-form border-top new-thread-comment">
        <form class="new-thread-comment-form comment" method="post" asp-route-id="@Model.Review.ReviewId">
            <input type="hidden" asp-for="Comment.ElementId" class="id-box" />
            <div class="new-comment-content">
                <textarea class="new-thread-comment-text form-control" asp-for="Comment.Comment" rows="3"></textarea>
            </div>
            <button type="submit" name="submit" value="Submit" class="comment-submit-button btn btn-outline-dark">Add Comment</button>
            <button type="button" name="cancel" value="Cancel" class="comment-cancel-button btn btn-outline-dark">Cancel</button>
        </form>
    </div>
</div>