@page "{id?}"
@model APIViewWeb.Pages.Assemblies.RevisionsPageModel
@using APIViewWeb.Helpers
@using APIViewWeb.LeanModels;
@using APIViewWeb.Models
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Revisions";
    TempData["UserPreference"] = PageModelHelpers.GetUserPreference(Model._preferenceCache, User);
}
<div class="container-fluid mx-0 px-0 sub-header-content">
    <div class="row mx-1 px-0 py-2">
        <div class="col-md-4">
            <div class="input-group-sm input-group">
                <partial name="Shared/_ReviewBadge" model="(Model.Review, Model.LatestAPIRevision)" />
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <partial name="Shared/_ReviewNavBar" />
</div>

<div class="container" id="revisions-main-container">
    <div class="row">
        <div id="add-revision-button">
            <button type="button" class="btn btn-primary" id="add-revision-button" data-bs-toggle="modal" data-bs-target="#uploadModel"><small>ADD</small><br><i class="fas fa-sm fa-plus"></i><br><small>REVISION</small></button>
        </div>
    </div>
        

    <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form asp-page-handler="Upload" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload file</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (!(LanguageServiceHelpers.MapLanguageAliases(new List<string> { "TypeSpec" })).Contains(Model.Review.Language))
                        {
                            <div class="input-group mb-3 custom-file-label">
                                <label class="input-group-text small" for="uploadRevisionFile">Select file to add</label>
                                <input name="upload" for="upload" type="file" class="form-control" id="uploadRevisionFile">
                            </div>
                        }
                        else
                        {
                            <ul class="nav nav-pills nav-fill mb-3" id="typespec-pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="typespec-pills-tsp-tab" data-bs-toggle="pill" data-bs-target="#typespec-pills-tsp" type="button" role="tab" aria-controls="typespec-pills-tsp" aria-selected="true">TypeSpec</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="typespec-pills-json-tab" data-bs-toggle="pill" data-bs-target="#typespec-pills-json" type="button" role="tab" aria-controls="typespec-pills-json" aria-selected="false">Json</button>
                                </li>
                            </ul>
                            <div class="tab-content mb-3" id="typespec-pills-tabcontent">
                                <div class="tab-pane fade show active" id="typespec-pills-tsp" role="tabpanel" aria-labelledby="typespec-pills-tsp-tab" tabindex="0">
                                    <div class="input-group custom-file-label">
                                        <label class="input-group-text small" for="uploadRevisionFile">Select file to add</label>
                                        <input name="upload" for="upload" type="file" class="form-control" id="uploadRevisionFile">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="typespec-pills-json" role="tabpanel" aria-labelledby="typespec-pills-json-tab" tabindex="0">
                                    <input asp-for="FilePath" class="form-control" type="text" placeholder="Package root e.g https://github.com/Azure/azure-rest-api-specs/specification/cognitiveservices/AnomalyDetector/">
                                </div>
                            </div>
                        }
                        <div>
                            <input asp-for="Label" class="form-control" type="text" placeholder="Enter an optional revision label">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fas fa-cloud-upload-alt"></i> Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row mx-0 px-0 py-2">
        <div class="col-lg-12 mx-0 px-0">
            @if (Model.APIRevisions.ContainsKey("Automatic"))
            {
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading fw-bold">Automatic APIRevisions</li>
                    @foreach (var revision in Model.APIRevisions["Automatic"])
                    {
                        <li class="list-group-item">
                            <form class="form-inline revision-rename-form float-left" asp-page-handler="Rename" method="post">
                            <span asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance">
                                <a href="#" class="text-decoration-none revision-rename-icon pr-2">✎</a>
                                <input type="hidden" name="revisionId" value="@revision.Id" />
                                <span class="revision-name-input form-group-lg pr-2" style="display:none">
                                    <input type="text" class="form-control" name="newLabel" value="@revision.Label" placeholder="Enter a revision label" />
                                    <a href="#" class="text-decoration-none submit-revision-rename">✔️</a>
                                    <a href="#" class="text-decoration-none cancel-revision-rename">❌</a>
                                </span>
                            </span>
                            <span class="revision-name-label">@revision.Label</span>
                            <span class="font-italic pl-3">
                                <span>@revision.APIRevisionType.ToString(), Created: </span>
                                <span date="@revision.CreatedOn"></span>
                                <span>By: @revision.CreatedBy</span>
                            </span>
                            </form>
                            <form asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance"
                                class="form-inline float-right" asp-page-handler="Delete" method="post">
                                <input type="hidden" name="revisionId" value="@revision.Id" />
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                            </form>
                        </li>
                    }
                </ul>
            }
            @if (Model.APIRevisions.ContainsKey("PullRequest"))
            {
                <ul class="list-group mt-2">
                    <li class="list-group-item list-group-item-heading fw-bold">PullRequest APIRevisions</li>
                    @foreach (var revision in Model.APIRevisions["PullRequest"])
                    {
                        <li class="list-group-item">
                            <form class="form-inline revision-rename-form float-left" asp-page-handler="Rename" method="post">
                            <span asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance">
                                <a href="#" class="text-decoration-none revision-rename-icon pr-2">✎</a>
                                <input type="hidden" name="revisionId" value="@revision.Id" />
                                <span class="revision-name-input form-group-lg pr-2" style="display:none">
                                    <input type="text" class="form-control" name="newLabel" value="@revision.Label" placeholder="Enter a revision label" />
                                    <a href="#" class="text-decoration-none submit-revision-rename">✔️</a>
                                    <a href="#" class="text-decoration-none cancel-revision-rename">❌</a>
                                </span>
                            </span>
                            <span class="revision-name-label">@revision.Label</span>
                            <span class="font-italic pl-3">
                                <span>@revision.APIRevisionType.ToString(), Created: </span>
                                <span date="@revision.CreatedOn"></span>
                                <span>By: @revision.CreatedBy</span>
                            </span>
                            </form>
                            <form asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance"
                                    class="form-inline float-right" asp-page-handler="Delete" method="post">
                                <input type="hidden" name="revisionId" value="@revision.Id" />
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                            </form>
                        </li>
                    }
                </ul>
            }
            @if (Model.APIRevisions.ContainsKey("Manual"))
            {
                <ul class="list-group mt-2">
                    <li class="list-group-item list-group-item-heading fw-bold">Manual APIRevisions</li>
                    @foreach (var revision in Model.APIRevisions["Manual"])
                    {
                        <li class="list-group-item">
                            <form class="form-inline revision-rename-form float-left" asp-page-handler="Rename" method="post">
                                <span asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance">
                                    <a href="#" class="text-decoration-none revision-rename-icon pr-2">✎</a>
                                    <input type="hidden" name="revisionId" value="@revision.Id" />
                                    <span class="revision-name-input form-group-lg pr-2" style="display:none">
                                        <input type="text" class="form-control" name="newLabel" value="@revision.Label" placeholder="Enter a revision label" />
                                        <a href="#" class="text-decoration-none submit-revision-rename">✔️</a>
                                        <a href="#" class="text-decoration-none cancel-revision-rename">❌</a>
                                    </span>
                                </span>
                                <span class="revision-name-label">@revision.Label</span>
                                <span class="font-italic pl-3">
                                    <span>@revision.APIRevisionType.ToString(), Created: </span>
                                    <span date="@revision.CreatedOn"></span>
                                    <span>By: @revision.CreatedBy</span>
                                </span>
                            </form>
                            <form asp-resource="@revision" asp-requirement="@RevisionOwnerRequirement.Instance"
                            class="form-inline float-right" asp-page-handler="Delete" method="post">
                                <input type="hidden" name="revisionId" value="@revision.Id" />
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                            </form>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
