@page "{id?}"
@model APIViewWeb.Pages.Assemblies.ReviewModel
@{
    ViewData["Title"] = "Review";
}

<table class="code-window border rounded-1">
    <tbody>
        @foreach (var line in Model.AssemblyModel)
        {
        <tr class="code-line">
            <td class="line-comment-button-cell">
                @if (line.ElementId != null)
                {
                <button data-element-id="@line.ElementId" class="btn-link line-comment-button" type="button" style="text-decoration:none;">+</button>
                }
            </td>
            <td class="code"><span class="code-inner">@Html.Raw(line.DisplayString)</span></td>
        </tr>
            @foreach (var elementId in Model.Comments.Keys)
            {
                @if (elementId == line.ElementId)
                {
                <partial name="_CommentThreadPartial" model="@new APIViewWeb.Models.CommentThreadModel() { AssemblyId = Model.Id, Comments = Model.Comments[elementId], LineId = elementId }" />
                }
            }
        }
    </tbody>
</table>

<div id="comment-form-template">
    <div class="comment-form border-top new-thread-comment">
        <form class="new-thread-comment-form comment" method="post" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="Comment.TimeStamp" value="@DateTime.UtcNow" />
            <input type="hidden" asp-for="Comment.Username" value="@Model.Username" />
            <input type="hidden" asp-for="Comment.ElementId" class="id-box" />
            <div class="new-comment-content">
                <textarea class="new-thread-comment-text form-control" asp-for="Comment.Comment" rows="3"></textarea>
            </div>
            <button type="submit" name="submit" value="Submit" class="comment-submit-button btn btn-outline-dark">Add Comment</button>
            <button type="button" name="cancel" value="Cancel" class="comment-cancel-button btn btn-outline-dark">Cancel</button>
        </form>
    </div>
</div>