@{
    Layout = "Shared/_Layout";
    var id = ViewContext.RouteData.Values["id"];
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" active-if="@TempData["page"].Equals("api")" asp-page="Review" asp-route-id="@id">API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" active-if="@TempData["page"].Equals("revisions")" asp-page="Revisions" asp-route-id="@id">Revisions</a>
    </li>
</ul>

@RenderBody()