@{
    Layout = "Shared/_Layout";
    var id = ViewContext.RouteData.Values["id"];
}

<nav class="navbar-light shadow-sm bg-light sticky-top">
    <div class="container-fluid py-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("api")" asp-page="Review" asp-route-id="@id">API</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("conversation")" asp-page="Conversation" asp-route-id="@id">Conversations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("revisions")" asp-page="Revisions" asp-route-id="@id">Revisions</a>
            </li>
        </ul>
    </div>
</nav>
@RenderBody()