@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/review.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/comments.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/api.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/fileInput.js")" asp-append-version="true"></script>
    <script type="text/javascript" src="@Url.Content("~/revisions.js")" asp-append-version="true"></script>
}
@{
    Layout = "Shared/_Layout";
    var id = ViewContext.RouteData.Values["id"];
}

<nav class="navbar-light shadow-sm bg-light">
    <div class="container-fluid py-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("api")" asp-page="Review" asp-route-id="@id">API</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("conversation")" asp-page="Conversation" asp-route-id="@id">Conversations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" active-if="@TempData["page"].Equals("revisions")" asp-page="Revisions" asp-route-id="@id">Revisions</a>
            </li>
        </ul>
    </div>
</nav>
@RenderBody()