@page "{id?}/{revisionId?}"
@model APIViewWeb.Pages.Assemblies.UsageSamplePageModel
@using APIViewWeb.Helpers
@using APIViewWeb.LeanModels;
@using APIViewWeb.Models
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Usage Samples";
    var userPreference = PageModelHelpers.GetUserPreference(Model._preferenceCache, User);
    TempData["UserPreference"] = userPreference;
}

@if (Model.ActiveSampleRevision != null && (Model.ActiveSampleRevision.FileId == "Bad Deployment" || Model.ActiveSampleRevision.FileId == "File Content Missing")) // If the samples container does not exist
{
    <div class="container-fluid mx-0 px-0 sub-header-content">
        <div class="row mx-1 px-0 py-2">
            <div class="col-md-6">
                <div class="input-group-sm input-group">
                    <partial name="Shared/_ReviewBadge" model="(Model.Review, default(APIRevisionListItemModel))" />
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <partial name="Shared/_ReviewNavBar" />
    </div>
    <div class="container">
        <div class="row mx-1 px-0 py-3">
            <div class="text-muted">
                <p> <strong> Usage Samples are not available for this APIView deployment. </strong></p>
                <p> Please check <a href="https://github.com/Azure/azure-sdk-tools/blob/main/src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md">CONTRIBUTING.md</a> to see how to enable them. </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid mx-0 px-0 sub-header-content">
        <div class="row mx-1 px-0 py-2">
            <div class="col-md-8">
                <div class="input-group-sm input-group" id="review-info-bar">
                    <partial name="Shared/_ReviewBadge" model="(Model.Review, default(APIRevisionListItemModel))"/>
                    @if (Model.SampleRevisions.Any())
                    {
                        @if (Model.SampleContent.Length > 0)
                        {
                            <span class="input-group-text">Revision:</span>
                            <select id="revision-select" aria-label="Revision Select">
                                @foreach (var revision in Model.SampleRevisions)
                                {
                                    var urlValue = @Url.ActionLink("Samples", "Assemblies", new
                                    {
                                        id = @Model.Review.Id,
                                        revisionId = @revision.FileId,
                                    });

                                    string revTitle = revision.Title == null ? $"Created On {revision.CreatedOn}" : $"Created On: {revision.Title}";

                                    if (revision.FileId == Model.ActiveSampleRevision.FileId)
                                    {
                                        <option selected value="@urlValue">@revTitle</option>
                                    }
                                    else
                                    {
                                        <option value="@urlValue">@revTitle</option>
                                    }
                                }
                            </select>
                        }
                        @if (Model.SampleContent.Length > 0)
                        {
                            <button type="button" class="btn btn-sm border shadow-sm btn-light" data-bs-toggle="modal" data-bs-target="#updateModel"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Edit</button>
                            @if (Model.ActiveSampleRevision.CreatedBy == User.GetGitHubLogin())
                            {
                                <button type="button" class="btn btn-sm shadow-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Delete</button>
                            }
                        }
                    }                        
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <partial name="Shared/_ReviewNavBar" />
    </div>
    <div class="container-fluid" id="samples-main-container">
        <div class="row mx-0 px-0 py-2">
            <div class="col-lg-12 mx-0" data-review-id=@Model.Review.Id>
                <div id="add-sample-button">
                    <button type="button" class="btn btn-primary" id="add-sample-button" data-bs-toggle="modal" data-bs-target="#uploadModel"><small>ADD</small><br><i class="fas fa-sm fa-plus"></i><br><small>SAMPLE</small></button>
                </div>
                @if (Model.SampleRevisions.Any())
                {
                    @if (Model.SampleContent.Length == 0) 
                    {
                        <div class="text-muted">
                            <p> This review does not currently have any usage samples to display.</p>
                        </div>
                    }
                    else
                    {
                        <div class="border rounded samples-center">
                            <table class="code-window">
                                <tbody>
                                    @foreach (var line in Model.SampleContent)
                                    {
                                        <partial name="_codeline" model="@line" />
                                    }
                                </tbody>
                            </table>
                        </div>
                        <i> Sample uploaded by <strong> <a username="@Model.ActiveSampleRevision.CreatedBy"> @Model.ActiveSampleRevision.CreatedBy </a></strong></i>
                    }
                }
                else
                {
                    <div class="text-muted">
                        <p> <strong>This API Review has no Usage Samples </strong></p>
                    </div>
                }
            </div>
            <partial name="_SampleCommentFormPartial" />
        </div>
    </div>


    <div class="container-fluid">
        <div class="modal fade" id="uploadModel" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Usage Sample</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>Pick an upload method:</label>

                            <ul class="nav nav-pills nav-fill mb-3">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#md-text">Markdown Text</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#md-file">Markdown File</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content border rounded px-3">
                                <div class="tab-pane active pt-2" id="md-text">
                                    <form asp-page-handler="Upload" method="post">
                                        <div class="form-group ">
                                            <label asp-for="Upload.RevisionTitle"> Enter a sample title (Optional) </label>
                                            <input asp-for="Upload.RevisionTitle" class="form-control" type="text" /> <br />
                                            <textarea asp-for="Upload.sampleString" class="new-thread-comment-text form-control" rows="25" placeholder="Enter your markdown formatted usage sample here"></textarea>
                                            <input asp-for="Upload.ReviewId" hidden value="@Model.Review.Id" />
                                            <div class="d-flex flex-row-reverse pt-3 mb-3">
                                                <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Save</button>
                                                <button type="button" class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane pt-2" id="md-file">
                                    <form asp-page-handler="Upload" method="post" enctype="multipart/form-data">
                                        <label asp-for="Upload.RevisionTitle"> Enter a sample title (Optional) </label>
                                        <input asp-for="Upload.RevisionTitle" class="form-control" type="text" /> <br />
                                        <input asp-for="Upload.ReviewId" hidden value="@Model.Review.Id" />
                                        <div class="input-group mb-3 custom-file-label">
                                            <label for="uploadMarkdownSample" class="input-group-text small mb-0">Select usage sample for this review</label>
                                            <input asp-for="Upload.File" type="file" class="form-control" id="uploadMarkdownSample">
                                        </div>
                                        <div class="d-flex flex-row-reverse pt-3 mb-3">
                                            <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fas fa-cloud-upload-alt"></i>&nbsp;&nbsp;Upload</button>
                                            <button type="button" class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="modal fade" id="deleteModel" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Usage Sample</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                            <p class="text-center"> This action can not be undone. </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <form asp-page-handler="Upload" method="post">
                                <input asp-for="Upload.sampleString" hidden value="@null" />
                                <input asp-for="Upload.ReviewId" hidden value="@Model.Review.Id" />
                                <input asp-for="Upload.Deleting" hidden type="text" value="@true" />
                                <input asp-for="Upload.SampleId" hidden type="text" value="@Model.ActiveSampleRevision.Id" />
                                <input asp-for="Upload.FileId" hidden type="text" value="@Model.ActiveSampleRevision.FileId" />
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                                <button type="submit" name="submit" value="Submit" class="btn btn-outline-danger"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="modal fade" id="updateModel" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form asp-page-handler="Upload" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Usage Sample</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="tab-content border rounded p-3">
                                    <div class="tab-pane active" id="md-text">
                                        <label asp-for="Upload.RevisionTitle"> Enter a sample title (Optional) </label>
                                        <input asp-for="Upload.RevisionTitle" class="form-control" type="text" /> <br />
                                        <div class="form-group">
                                            <div class="new-sample-content">
                                                <textarea asp-for="Upload.updateString" class="new-thread-comment-text form-control" rows="25"></textarea>
                                            </div>
                                            <input asp-for="Upload.ReviewId" hidden value="@Model.Review.Id" />
                                            <input asp-for="Upload.Updating" hidden type="text" value="@true" />
                                        </div>
                                        <p class="text-muted"> This will create a new revision of the sample. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
