@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using APIViewWeb.Models
@using System.Linq
@model CommentThreadModel

@if (Model.Comments.Any())
{
    <tr class="comment-box" data-line-id="@Model.LineId">
        <td class="comment-cell border-top border-bottom" colspan="4">
            @if (Model.IsResolved)
            {
                @:This thread is marked resolved by @Model.ResolvedBy <a href="#" class="toggle-comments">(show)</a>
            }
            <div class="border comment-holder rounded-1 @(Model.IsResolved ? "comments-resolved" : "")">
                <div class="comment-thread-contents">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="review-comment">
                            <div class="unminimized-comment">
                                <div class="comment-actions">
                                    <form class="comment-delete-button align-top" asp-page-handler="delete" method="post" asp-route-id="@Model.ReviewId">
                                        <input type="hidden" name="commentId" value="@comment.CommentId" />
                                        <input type="hidden" name="elementId" value="@Model.LineId" />
                                        @if (comment.Username == User.GetGitHubLogin())
                                        {
                                            <button id="@comment.CommentId" data-post-update="comments" class="btn align-top"><span class="comment-delete-text align-top">Delete</span></button>
                                        }
                                        else
                                        {
                                            <button disabled class="btn align-top"><span class="comment-delete-text align-top">Delete</span></button>
                                        }
                                    </form>
                                </div>
                                <div class="media">
                                    <img username="@comment.Username" class="comment-icon align-self-start mr-3" height="28" width="28" />
                                    <div class="media-body comment-contents">
                                        <div>
                                            <strong class=" mt-0 comment-header author align-top">@comment.Username</strong>
                                            <span date="@comment.TimeStamp.ToLocalTime()" class="comment-timestamp align-top"></span>
                                        </div>
                                        @Html.FormatAsMarkdown(@comment.Comment)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="review-thread-reply">
                        <div class="reply-cell align-middle">
                            <img avatar username="@User.GetGitHubLogin()" class="comment-icon" height="28" width="28" />
                        </div>
                        <div class="reply-cell col-12">
                            <button type="button" class="review-thread-reply-button text-muted text-left form-control">Reply...</button>
                        </div>
                    </div>

                    <div class="m-2">
                        @if (Model.IsResolved)
                        {
                            <form method="post" asp-page-handler="Unresolve" asp-route-id="@Model.ReviewId">
                                <button data-post-update="comments" type="submit" name="submit" value="Submit" class="thread-resolve-button btn btn-outline-dark">Unresolve</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-page-handler="Resolve" asp-route-id="@Model.ReviewId">
                                <button data-post-update="comments" type="submit" name="submit" value="Submit" class="thread-resolve-button btn btn-outline-dark">Resolve</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </td>
    </tr>
}
