@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using APIViewWeb.Models
@using System.Linq
@model CommentThreadModel

@if (Model != null && Model.Comments.Any())
{
    <tr class="comment-row @Model.LineClass" data-line-id="@Model.LineId">
        <td class="comment-cell border-top border-bottom" colspan="3">
            <a class="comment-thread-anchor"></a>
            @if (Model.IsResolved)
            {
                @:This thread is marked resolved by @Model.ResolvedBy <a href="#" class="toggle-comments">(show)</a>
            }
            <div class="border comment-holder rounded-1 @(Model.IsResolved ? "comments-resolved" : "")">
                <div class="comment-thread-contents">
                    @{
                        var groupedComments = Model.Comments.Where(x => !String.IsNullOrEmpty(x.GroupNo));
                        var unGroupedComments = Model.Comments.Where(x => String.IsNullOrEmpty(x.GroupNo));
                    }
                    @if (unGroupedComments.Any())
                    {
                        @foreach (var comment in unGroupedComments)
                        {
                            <partial name="_CommentThreadInnerPartial" model="comment" />
                        }
                        <partial name="_CommentThreadReplyPartial" model="String.Empty" />
                    }

                    @if (groupedComments.Any())
                    {
                        var comments = groupedComments.OrderBy(x => Convert.ToInt16(x.GroupNo)).ToArray();
                        for (int i = 0; i < comments.Length; i++) 
                        {
                            var comment = comments[i];
                            var rowAnchor = $"{Model.LineId}-tr-{comment.GroupNo}";

                            if (i == 0 || (Convert.ToInt16(comment.GroupNo) > Convert.ToInt16(comments[i - 1].GroupNo)))
                            {
                                <a class="pl-2 comment-group-anchor-link" href="#@rowAnchor">
                                    <span class="badge badge-pill badge-light">
                                        <small>ROW-@comment.GroupNo</small>
                                    </span>
                                </a>
                            }
                            <partial name="_CommentThreadInnerPartial" model="comment" />
                            if (i == comments.Length - 1 || (Convert.ToInt16(comments[i + 1].GroupNo) > Convert.ToInt16(comment.GroupNo)))
                            {
                                <partial name="_CommentThreadReplyPartial" model="comment.GroupNo" />
                            }
                        }
                    }

                    <div class="m-2 d-flex justify-content-between">
                        @if (Model.IsResolved)
                        {
                            <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Unresolve" asp-route-reviewId="@Model.ReviewId">
                                <button type="submit" name="submit" value="Submit" class="btn btn-outline-dark">Unresolve</button>
                            </form>
                        }
                        else
                        {
                            <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Resolve" asp-route-reviewId="@Model.ReviewId">
                                <button type="submit" name="submit" value="Submit" class="btn btn-outline-dark">Resolve</button>
                            </form>
                        }
                        <div class="comment-navigation-buttons">
                            <!-- Navigation button are added via JavaScript-->
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}
