@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using APIViewWeb.Models
@using System.Linq
@model CommentThreadModel
@{
    var userPreference = TempData["UserPreference"] as UserPreferenceModel ?? new UserPreferenceModel(); ;
}

@if (Model != null && Model.Comments.Any())
{
    var commentsDisplayState = (userPreference!.ShowComments == true || TempData["page"].Equals("conversation")) ? String.Empty : " d-none";
    <tr class="comment-row @Model.LineClass@commentsDisplayState" data-line-id="@Model.LineId">
        <td class="comment-cell border-top border-bottom" colspan="3">
            <a class="comment-thread-anchor"></a>
            @if (Model.IsResolved && Model.Comments.First().CreatedBy == User.GetGitHubLogin())
            {
                @:This thread is marked resolved by @Model.ResolvedBy <a href="#" class="toggle-comments">(show)</a>
                <br />

                <strong class="text-muted">You started this thread.</strong>
            }
            else if (Model.IsResolved)
            {
                @:This thread is marked resolved by @Model.ResolvedBy <a href="#" class="toggle-comments">(show)</a>
            }
            <div class="border comment-holder rounded-1 @(Model.IsResolved ? "comments-resolved" : "")">
                <div class="comment-thread-contents">
                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="_CommentThreadInnerPartial" model="comment" />
                    }
                    <partial name="_CommentThreadReplyPartial" model="String.Empty" />

                    <div class="m-2 d-flex justify-content-between">
                        @if (Model.IsResolved)
                        {
                            @if(Model.Comments.First().ResolutionLocked)
                            {
                                <span asp-resource="@Model" asp-requirement="@ResolverRequirement.Instance">
                                    <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Unresolve" asp-route-reviewId="@Model.ReviewId">
                                        <button type="submit" name="submit" value="Submit" class="btn btn-outline-secondary">Unresolve</button>
                                    </form>
                                </span>
                                <p>
                                    &nbsp;&nbsp;Please ask
                                    <a username="@Model.Comments.First().CreatedBy" class="font-weight-bolder mt-0">@Model.Comments.First().CreatedBy</a>
                                    (or an APIView approver) to unresolve this conversation.
                                </p>
                            } 
                            else 
                            {
                                <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Unresolve" asp-route-reviewId="@Model.ReviewId">
                                    <button type="submit" name="submit" value="Submit" class="btn btn-outline-secondary">Unresolve</button>
                                </form>
                            }
                        }
                        else
                        {
                            @if (Model.Comments.First().ResolutionLocked)
                            {
                                <span asp-resource="@Model" asp-requirement="@ResolverRequirement.Instance">
                                    <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Resolve" asp-route-reviewId="@Model.ReviewId">
                                        <button type="submit" name="submit" value="Submit" class="btn btn-outline-secondary">Resolve</button>
                                    </form>
                                </span>
                                <p>
                                    &nbsp;&nbsp;Please ask
                                    <a username="@Model.Comments.First().CreatedBy" class="font-weight-bolder mt-0">@Model.Comments.First().CreatedBy</a>
                                    (or an APIView approver) to resolve this conversation.
                                </p>

                            }
                            else
                            {
                                <form data-post-update="comments" method="post" asp-controller="Comments" asp-action="Resolve" asp-route-reviewId="@Model.ReviewId">
                                    <button type="submit" name="submit" value="Submit" class="btn btn-outline-secondary">Resolve</button>
                                </form>
                            }
                        }
                        <div class="comment-navigation-buttons btn-group" role="group" aria-label="Navigation Between Comments">
                            <!-- Navigation button are added via JavaScript-->
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}
