@using APIViewWeb;
@using System;
@using System.Text.RegularExpressions;
@using APIViewWeb.Helpers;
@using APIViewWeb.LeanModels;
@model (ReviewListItemModel review, APIRevisionListItemModel activeRevision);
@{
    var packageName = Model.review.PackageName;
}
@if (Model.review.Language != null)
{
    string iconClassName = "icon-" + PageModelHelpers.GetLanguageCssSafeName(Model.review.Language);
    string langVariant = String.Empty;
    @if (Model.activeRevision != default(APIRevisionListItemModel) && !string.IsNullOrEmpty(Model.activeRevision.Files.First().LanguageVariant) && Model.activeRevision.Files.First().LanguageVariant.ToLower() != "default")
    {
        langVariant = @Model.activeRevision.Files.First().LanguageVariant.ToLower();
        iconClassName += "-" + @Model.activeRevision.Files.First().LanguageVariant.ToLower();
    }
    <span role="img" class="input-group-text icon-language @iconClassName" aria-label="@Model.review.Language @langVariant"></span>
}
@{
    var packageFieldWidth = 3;
    if (packageName != null)
    {
        packageFieldWidth += packageName.Length;
    }
}
<input type="text" class="form-control fw-bold" style="max-width: @(packageFieldWidth)ch; font-family: monospace;" value="@(packageName ?? "")" aria-label="Package Name of Review" readonly>
@if (packageName != null)
{
    @if (Model.review.IsApproved)
    {
        <span class="input-group-text" data-bs-toggle="tooltip" title="Approved for First Release">
            <i class="fa-regular fa-circle-check text-success"></i>
        </span>
    }
}




