@using APIViewWeb.Models
@using System
@using System.Text.RegularExpressions
@model IEnumerable<ReviewModel>
@if (Model.Any())
{
    <div class="mt-3 row">
        <div class="col p-0 border rounded table-responsive">
            <table id="reviews-table" class="table table-sm m-0" style="width:100%">
                <tbody>
                    @foreach (var review in Model)
                    {
                        var truncationIndex = @Math.Min(@review.DisplayName.Length, 100);
                        <tr class="package-data-row">
                            <td class="border-right align-middle pl-4 pt-0 pb-0">
                                @if (review.Language != null)
                                {
                                    @switch (review.Language.ToLower())
                                    {
                                        case "c#":
                                            <img class="mx-1" src="~/icons/csharp-original.svg" alt="@review.Language">
                                            break;
                                        case "javascript":
                                            <img class="mx-1" src="~/icons/javascript-original.svg" alt="@review.Language">
                                            break;
                                        case "python":
                                            <img class="mx-1" src="~/icons/python-original.svg" alt="@review.Language">
                                            break;
                                        case "c":
                                            <img class="mx-1" src="~/icons/c-original.svg" alt="@review.Language">
                                            break;
                                        case "c++":
                                            <img class="mx-1" src="~/icons/cplusplus-original.svg" alt="@review.Language">
                                            break;
                                        case "go":
                                            <img class="mx-1" src="~/icons/go-original.svg" alt="@review.Language">
                                            break;
                                        case "java":
                                            <img class="mx-1" src="~/icons/java-original.svg" alt="@review.Language">
                                            break;
                                        case "swift":
                                            <img class="mx-1" src="~/icons/swift-original.svg" alt="@review.Language">
                                            break;
                                        default:
                                            <img class="mx-1" src="~/icons/file-code.svg" alt="@review.Language">
                                            break;
                                    }
                                }
                                <a class="review-name align-middle" asp-page="./Review" asp-route-id="@review.ReviewId">@review.DisplayName.Substring(0, @truncationIndex)</a>
                                @if (review.IsApproved == true)
                                {
                                    <span class="badge badge-pill badge-success ml-1 p-1"><i class="fas fa-check-circle"></i> APPROVED</span>
                                }
                            </td>
                            <td class="border-right align-middle">
                                <a username="@review.Author">@review.Author</a>
                            </td>
                            <td class="border-right align-middle">
                                <span data-placement="left" data-toggle="tooltip" title="@review.LastUpdated" date="@review.LastUpdated.ToLocalTime()"></span>
                            </td>
                            <td class="border-right align-middle">
                                <span>@review.FilterType.ToString()</span>
                            </td>
                            <td>
                                @if (review.Author == User.GetGitHubLogin())
                                {
                                    <a asp-page="./Delete" asp-route-id="@review.ReviewId">
                                        <button type="button" class="btn pt-0 pb-0 pl-1 pr-1 btn-outline-danger"><i class="fas fa-times-circle"></i> Delete</button>
                                    </a>
                                }
                                else
                                {
                                    <span data-placement="left" data-toggle="tooltip" title="Only review creator can delete.">
                                        <button type="button" class="btn pt-0 pb-0 pl-1 pr-1 btn-outline-secondary invisible" disabled="disabled"><i class="fas fa-times-circle"></i> Delete</button>
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}